.turn-greenyellow {
    color: #50F028;
}

.turn-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

img {
    height: 200px;
}

main {
    padding: 16px;
}

body {
    padding: 0;
    margin: 0;
}

nav {
    border-bottom: 1px solid black;
    background-color: orangered;
    padding: 16px;
}

nav a {
    color: white;
    text-decoration: none;
}

h1 {
    color: green;
}

footer {
    padding: 24px 24px;
    background-color: #9DEF7E;
}

.turn-grey tr:nth-child(even) {
    background-color: #B2BEBF;
}
